In [13]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [14]:
dataset = [
    ["apple","mango","grapes"],
    ["banana","mango","pineapple"],
    ["apple","banana","mango","pineapple"],
    ["banana","pineapple"],
    ["apple","mango","pineapple"],
]

In [15]:
dataset

[['apple', 'mango', 'grapes'],
 ['banana', 'mango', 'pineapple'],
 ['apple', 'banana', 'mango', 'pineapple'],
 ['banana', 'pineapple'],
 ['apple', 'mango', 'pineapple']]

In [16]:
te = TransactionEncoder()
te_array=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_array, columns=te.columns_)
df

   apple  banana  grapes  mango  pineapple
0   True   False    True   True      False
1  False    True   False   True       True
2   True    True   False   True       True
3  False    True   False  False       True
4   True   False   False   True       True

In [17]:
frequent_itemsets_ap = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets_ap

    support                    itemsets
0       0.6                     (apple)
1       0.6                    (banana)
2       0.8                     (mango)
3       0.8                 (pineapple)
4       0.6              (apple, mango)
5       0.4          (apple, pineapple)
6       0.4             (banana, mango)
7       0.6         (banana, pineapple)
8       0.6          (pineapple, mango)
9       0.4   (apple, pineapple, mango)
10      0.4  (banana, pineapple, mango)

In [18]:
rules_ap=association_rules(frequent_itemsets_ap, metric="confidence", min_threshold=0.61)
rules_ap

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(apple),(mango),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
1,(mango),(apple),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
2,(apple),(pineapple),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
3,(banana),(mango),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
4,(banana),(pineapple),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
5,(pineapple),(banana),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
6,(pineapple),(mango),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
7,(mango),(pineapple),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
8,"(apple, pineapple)",(mango),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
9,"(apple, mango)",(pineapple),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
10,"(pineapple, mango)",(apple),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
11,(apple),"(pineapple, mango)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
12,"(banana, pineapple)",(mango),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
13,"(banana, mango)",(pineapple),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
14,"(pineapple, mango)",(banana),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
15,(banana),"(pineapple, mango)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000