In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [7]:
dataset = [
    ["apple","mango","grapes"],
    ["banana","mango","pineapple"],
    ["apple","banana","mango","pineapple"],
    ["banana","pineapple"],
    ["apple","mango","pineapple"],
]

In [13]:
dataset

[['apple', 'mango', 'grapes'],
 ['banana', 'mango', 'pineapple'],
 ['apple', 'banana', 'mango', 'pineapple'],
 ['banana', 'pineapple'],
 ['apple', 'mango', 'pineapple']]

In [9]:
te = TransactionEncoder()
te_array=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_array, columns=te.columns_)
df

   apple  banana  grapes  mango  pineapple
0   True   False    True   True      False
1  False    True   False   True       True
2   True    True   False   True       True
3  False    True   False  False       True
4   True   False   False   True       True

In [10]:
frequent_itemsets_ap = fpgrowth(df, min_support=0.3, use_colnames=True)
frequent_itemsets_ap

    support                    itemsets
0       0.8                     (mango)
1       0.6                     (apple)
2       0.8                 (pineapple)
3       0.6                    (banana)
4       0.6          (mango, pineapple)
5       0.6              (mango, apple)
6       0.4          (apple, pineapple)
7       0.4   (mango, apple, pineapple)
8       0.6         (banana, pineapple)
9       0.4             (mango, banana)
10      0.4  (mango, banana, pineapple)

In [12]:
rules_ap=association_rules(frequent_itemsets_ap, metric="confidence", min_threshold=0.61)
rules_ap

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(mango),(pineapple),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
1,(pineapple),(mango),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8,-0.250000
2,(mango),(apple),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
3,(apple),(mango),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
4,(apple),(pineapple),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
5,"(mango, apple)",(pineapple),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
6,"(mango, pineapple)",(apple),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
7,"(apple, pineapple)",(mango),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
8,(apple),"(mango, pineapple)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
9,(banana),(pineapple),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
10,(pineapple),(banana),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
11,(banana),(mango),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
12,"(mango, banana)",(pineapple),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
13,"(mango, pineapple)",(banana),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
14,"(banana, pineapple)",(mango),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6,-0.333333
15,(banana),"(mango, pineapple)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000